* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
/* basic config */
body {
  background: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
/* root page */
#root {
  /* border: 2px dashed black; */
  height: 100%;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 1000px;
  width: 1000px;
}
/* header page */
.header {
  display: flex;
  flex-direction: row;
  height: 25px;
  margin-top: 25px;
}
/* site logo */
.logo {
  cursor: pointer;
  width: 55%;
}
/* navigation */
.menu {
  width: 45%;
}
/* menu item */
.menu > ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}
/* navigation link item */
.menu a {
  color: #9fd6fc;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 30px;
  text-decoration: none;
}
/* navigation link in hover */
.menu ul a:hover {
  text-decoration-color: #9fd6fc;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
/* slider */
.slider {
  background: url(images/slider.jpg) center center no-repeat;
  background-size: 100% auto;
  border: 6px solid #cbcbcb;
  border-radius: 8px;
  height: 370px;
  margin: 20px 0;
  width: 988px;
}

.slider-text {
  background: #cbcbcb;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 70px 5px 20px;
  position: relative;
  top: 302px;
}

.slider-left, .slider-right {
  background: #cbcbcb;
  border: 2px solid #cbcbcb;
  border-radius: 50%;
  font-size: 35px;
  height: 60px;
  position: relative;
  top: 150px;
  width: 60px;
}
.slider-left, .slider-right {
  background-color: #cbcbcb;  
  background-repeat: no-repeat;
  background-size: 37px 37px;
  opacity: 0.6;  
  transition: opacity 0.5s;
  cursor: pointer;
}

.slider-right {
  background-image: url('images/right.svg');
  background-position: center center;
  left: 623px;  
}

.slider-left {
  background-image:  url('images/left.svg');
  background-position: center center;
  right: 235px;
}

.slider-left:hover, .slider-right:hover {
  opacity: 1;
} 

.circles {
  bottom: -266px;
  left: 85%; 
  position: relative;
  width: 200px;
}

.circle, .circle-active {
  border: 3px solid #cbcbcb;
  background: #cbcbcb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.circle-active {
  background: #76bee4;
  box-shadow: inset 1px 1px 9px -2px #000000;
}
/* page titles 4 item */
.titles {
  align-items: center;
  box-shadow: 0 6px 10px -10px #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
/* title block */
.title {  
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 30px;
}
/* title block head */
.title-head {
  cursor: pointer;
  color: #66bbf2;
  font-size: 28px;
}
/* title block content */
.title-content {
  color: #b6b6b6;
  cursor: default;
  display: flex;
}
/* title block text */
.title-text {
  font-size: 14px;
  margin-right: 40px;
  width: 200px;
}
/* news block */
.news {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;  
}
/* new block width */
.new {
  width: 25%;  
}
/* new block head */
.new-head {
  align-items: center;
  color: #66bbf2;
  cursor: pointer;
  display: flex;
  font-size: 20px;
}
/* new block head title */
.new-head h2 {
  margin-left: 30px;
}
/* new block content */
.new-content {
  color: #b6b6b6;
  cursor: default;
  display: flex;
  margin: 15px 0;
  text-align: justify;  
}
/* new block footer button */
.new-footer a { 
  background: #298de5;
  border: 2px solid #a4d4f8;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff; 
  display: block; 
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 42px;  
  padding: 7px 20px;
  text-align: center;
  width: 120px;
}
/* footer block (with 3 blocks) */
.footer {
  background: #e9e5e2;
  padding: 30px 30px 15px 30px;
}
/* gloabal footer setting for tag "ul" */
.footer ul {
  display: inline-block;
  list-style: none;
}
/* footer line between footer-menu and footer-links */
.footer hr {
  background: #97989a;
  height: 2px;
  margin: 15px 0;
}
/* footer menu navigation */
.footer-menu {
  margin-left: 30px;
}
/* footer menu list */
.footer-menu li {
  display: inline-block;
  width: 150px;
}
/* footer menu links */
.footer-menu a {
  color: #97989a;
  font-size: 20px;
  font-weight: bold;
}
/* footer menu links */
.footer-links {
  margin-left: 30px;
  margin-bottom: 50px;
}
/* footer links setting */
.footer-links ul {  
  display: inline-block;
  width: 150px;
}
/* footer links color */
.footer-links a, .footer-support a {
  color: #3f9be6;
}
/* footer support text align  */
.footer-support {
  text-align: right;
}
/* footer support links  */
.footer-support a {
  margin-left: 50px;
}
