@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 500;
}

