/*  */
/* 
    Элементу body определяем стили 
    здесь мы определяем первоначальные настройки для страницы
    (это происходит потому что body является родителем и все опредляемые свойства(ну если они наследуются) наследуются детьми)
*/
body {
    /* устанавливаем цвет и изображение фона */
    background: #c1c1c1 url(images/bg.png) bottom center no-repeat; 
    background-attachment: fixed; /* фиксируем наше изображение */
    margin: 0; /* определяем отступы (т.е. убираем все отступы) */
    font-family: Arial, Helvetica, sans-serif; /* устанавливаем шрифты */
    font-size: 14px; /* Устанавливаем размер шрифта */
}
/*  */
/* Кнопка facebook */
#facebook-share {
    /* устанавливаем фон */
    background: url(images/fb.png) left top no-repeat; 
    height: 122px; /* устанавливаем высоту */
    left: -20px; /* устанавливаем позицию слева */
    position: fixed; /* фиксируем позицию */
    top: 45%; /* устанавливаем позицию сверху */
    transition: left 0.5s; /* прозрачность */
    width: 42px; /* устанавливаем ширину */
}
/*  */
/* Кнопка facebook при наведении */
#facebook-share:hover {
    cursor: pointer; /* устанавливаем курсор */
    left: 0; /* устанавливаем позицию слева */
}
/*  */
/* Родительский элемент содержащий все содержание */
#root {
    border-left: 0.5px solid #999;
    border-right: 0.5px solid #999;
    margin: 0 auto; /* убираем отступы с вверха и низа, слева и справа расчитывать автоматически (если проще, мы центрируем элемент, но обязательно нужно установить ширину) */
    min-width: 800px; /* уставливаем минимальную ширину */
    width: 800px;  /* уставливаем ширину */
}
/*  */
/* 
    Описание заголовка,
    т.е. элементу с идентификатором header 
*/
#header {
    /* 
        Стенографические свойства (короткая версия) свойства
        background: url(images/header.png) top center repeat-x; 
    */
    background-image: url(images/header.png); /* фоновая картинка */
    background-position: bottom center; /* Выравнивание фона сперва идет вертикали потом по горизонтали */
    background-repeat: repeat; /* Повторение изображения */
    height: 102px; /* Высота блока */
    padding-top: 10px;
}
/*  */
/* Логотип сайта */
#logo {
    background: url(images/logo.png) left top no-repeat; /* устанавливаем фон */
    display: block; /* делаем наш строчный элемент в блочный */
    height: 84px; /* устанавливаем высоту */
    margin-left: 30px; /* устанавливаем внешний отступ слева */
    width: 225px; /* устанавливаем ширину */
}
/*  */
/* Кнопка канала youtube */
#yt-chanel {
    /* устанавливаем фон */
    background: url(images/yt.png) left top no-repeat; 
    bottom: 80px; /* устанавливаем позицию снизу */
    display: block; /* изменяем наш строчный элемент в блочный */
    height: 89px; /* устанавливаем высоту */
    left: 770px; /* устанавливаем позицию слева */
    position: relative; /* устанавливаем позицию  */
    transition: left 0.5s; /* прозрачность на свойство слева */
    width: 40px; /* устанавливаем ширину */
}
/*  */
/* Кнопка канала youtube при наведении */
#yt-chanel:hover {
    cursor: pointer; /* устанавливаем курсор */
    left: 775px; /* изменяем позицию слева */
}
/*  */
/* Меню (контейнер) нащего сайта */
#menu {
    align-items: center; /* Выравниваем по вертикали */
    background-color: #000; /* цвет фона */
    display: flex; /* флексуем */
    height: 30px; /* устанавливаем высоту */
}
/*  */
/* Меню (ссылки) нащего сайта */
#menu a {
    color: #fff;  /* цвет ссылок */
    text-decoration: none; /* убераем оформление */
    margin: 0 15px; /* устанавливаем внешний отступ */
    padding: 0 15px; /* устанавливаем внутренний отступ */ 
    transition: color 1s; /* прозрачность */
}
/*  */
/* Изменяем оформление ссылок при наведении с помощью псевдоклассов */
#menu a:hover {
    color: #d6f507; /* меняем цвет ссылки на желтый цвет */
    /* background-color: rgba(221, 255, 0, 0.26) */
}
/*  */
/* Содержимое страницы */
#content {
    align-items: flex-start; /* Выравниваем по вертикали */
    background-color: #fff; /* устанавливаем цвет фона */
    /* рамка для контейнера, объявлена ввиде стенографического свойства */
    /* border-left: 1px solid tomato; */
    /* рамка для контейнера, объявлена ввиде стенографического свойства */
    /* border-right: 1px solid tomato; */
    display: flex; /* флексуем */
    justify-content: center; /* Выравниваем по горизонтали */
    padding: 40px 0; /* устанавливаем внутренний отступ */
}
/*  */
/* Новости страницы */
.news {
    /* рамка для контейнера, объявлена ввиде стенографического свойства */
    /* border: 2px solid tomato;  */
    display: flex;
    flex-direction: column;   
    width: 675px; /* устанавливаем ширину */
}
/*  */
/* Статья */
.article {
    display: flex; /* флексуем */
    height: 180px; /* устанавливаем высоту */
}
/*  */
/* Краткое описание статьи */
.article-description {
    margin-left: 10px; /* устанавливаем внешний отступ слева */
}
/*  */
/* Заголовок статьи (все ссылки относяшиеся article) */
.article a {
    color: red; /* устанавливаем цвет текста */ 
    font-family:  Tahoma, Geneva, Verdana, sans-serif; /* устанавливаем шрифт */
    font-size: 16px; /* устаналиваем размер шрифта в пикселях*/
    font-weight: bold; /* устаналиваем жирность шрифта */
    text-decoration: none; /* убираем декорацию */
}
/*  */
/* Заголовок статьи при наведении (все ссылки относяшиеся article) */
.article a:hover {
    text-decoration-line: underline; /* указываем линию внизу текста */
    text-decoration-style: dotted; /* указываем стиль (если точнее точки) */    
}
/*  */
/* Краткий текст статьи */
.article-text {
    margin: 10px 0; /* Устанавливаем внешний отступ сверху и снизу */
    text-align: justify; /* Выравниваем текст по всему блоку */
}
/*  */
/* Ссылка на подробное чтение */
.read-more a {
    font-size: 14px !important; /* Задаем размер шрифта и устанавливаем его как важным (!important) */
    font-weight: normal; /* задаем жирность */
}
/*  */
/* Линия между новостями */
.line {
    margin: 20px 0; /* устанавливаем внешний отступ сверху и снизу */
    text-align: center; /* выравниваем по центру */
}
/*  */
/* Подвал страницы, т.е. самый низ */
#footer {
    align-items: center; /* выравниваем по вертикали */
    background-image: url(images/footer.png); /* устанавливаем фон футера */
    background-position: center center; /* позиционируем фон */
    display: flex; /* флексуем */
    flex-direction: row; /* делаем все дочерние элементы строками */
    justify-content: center; /* выравниваем по горизонтали */
    height: 140px; /* устанавливаем высоту подвала */
}
/*  */
/* Меню подвала */
.footer-menu {
    display: flex; /* флексуем */
    flex-direction: column; /* делаем все дочерние элементы столбцами */
    /* устанавливаем внешние отступы слева и справа */
    margin: 0 50px; 
}
/*  */
/* Меню подвала ссылки */
.footer-menu a {
    color: #fff; /* изменяем цвет ссылок */
    font-size: 12px; /* устанавливаем размер шрифта */
    margin-bottom: 2px; /* устанавливаем внешний отступ снизу */
    text-decoration: none; /* убираем подчеркивание (нижнее) */
}
/*  */
/* Меняем цвет ссылки при наведении */
.footer-menu a:hover {
    color: #d6f507; /* изменяем цвет ссылок */
}
/*  */
/* Линия между блоками */
.footer-line {
    background: url('images/footer-line.png') top center repeat-y; /* устанавливаеи фон линии (блока) в стенографическом свойстве */
    height: 100px; /* устанавливаем высоту */
    width: 1px; /* устанавливаем ширину */
}
